<html>
    <head>
        <title>Add the student</title>
    </head>
    <body>
        <h1>add Student</h1>
        <form method="post">
           {% csrf_token %}
           <label for="name">Name</label><br>
           <input name="name" type="text" required><br>
           <label for="age">Age</label><br>
           <input name="age" type="number"  required><br>
           <label for="course">Course</label><br>
           <input name="course" type="text" required><br>
           <button type="submit">Save</button>
           <p><a href="{%url 'students:list'%}">back to list</a></p>
        </form>
    </body>
</html>